Añadir comentario: <p>

<form method="post" action="/quizes/<%= quizId %>/comments">
	
	<input type="text" id="com" name="comment[texto]" value="" /> <p>
	<input type="submit" value="Guardar" /> 

</form>