<h1>Creditos</h1>
<br/>
<br/>
<p>Aplicación creada por Diego Diaz</p>

<br/>
<img src="https://lh3.googleusercontent.com/-rWxK7_0LFag/VVG1q9uOBmI/AAAAAAAAAAA/IcAfTVQDRHo/s180-c-k-no/photo.jpg" alt="Diego Diaz" height="42" width="42">

<br/>
<div class="videoWrapper">
    <!-- Copy & Pasted from YouTube -->
    <iframe width="560" height="349" src="https://www.youtube.com/embed/IGgmuwGNITI?rel=0&hd=1" frameborder="0" allowfullscreen></iframe>
</div>